<!-- Token Input Pop-up -->
<div id="tokenPopupOverlay" class="popup-overlay" style="display: none;">
    <div class="popup">
        <h3>Enter your identification (API) token</h3>
        <input type="text" id="tokenPopupInput" placeholder="Paste your API token here, it will be used until the end of this session...">
        <div style="margin-top: 10px;">
            <button id="tokenPopupSaveButton" style="margin-right: 10px;">Use this token, go on</button>
            <button id="tokenPopupCancelButton">Cancel</button>
        </div>
    </div>
</div>